.em-zoom-buttons {
    transform: translate(94%, 88%) !important;
}

.em-legend-background {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) !important;
    opacity: 0.9;
}

.em-title,
.em-subtitle {
    /*     transform: translate(0px, 15px); */
    filter: brightness(0.5);
}

#maritime-flow-map .em-worldbn {
    stroke: grey !important;
    stroke-width: 0.8px !important;
    opacity: 0.5;
}

.em-bn-d {
    stroke-width: 0.4px !important;
    stroke: rgb(116, 116, 116) !important;
    stroke-dasharray: 2, 1 !important;
}

.em-flow-exporter,
.em-flow-importer {
    opacity: 0.3;
}

.em-zoom-buttons {
    transform: translate(95%, 2%) !important;
}

.em-labels {
    fill: #343434;
    opacity: 0.9;
}

.em-flow-node-stems {
    opacity: 0.1 !important;
}

text#em-label-EU,
text#em-label-shadow-EU {
    transform: translate(6px, 5px);
    font-size: 19px;
    font-weight: 600;
    opacity: 0.7;
}


text#em-label-RUSSIA\:-BLACK-SEA,
text#em-label-shadow-RUSSIA\:-BLACK-SEA {
    transform: translate(75px, 5px);
}

text#em-label-UKRAINE,
text#em-label-shadow-UKRAINE {
    transform: translate(35px, 5px);
}

text#em-label-MOROCCO,
text#em-label-shadow-MOROCCO {
    transform: translate(0px, 20px);
}

text#em-label-ALGERIA,
text#em-label-shadow-ALGERIA,
text#em-label-LIBYA,
text#em-label-shadow-LIBYA,
text#em-label-EGYPT,
text#em-label-shadow-EGYPT,
text#em-label-NIGERIA,
text#em-label-shadow-NIGERIA,
text#em-label-INDIA,
text#em-label-shadow-INDIA,
text#em-label-CHINA,
text#em-label-shadow-CHINA {
    transform: translate(0px, 15px);
}

text#em-label-TÜRKIYE,
text#em-label-shadow-TÜRKIYE {
    transform: translate(20px, 15px);
}

text#em-label-UNITED-KINGDOM,
text#em-label-shadow-UNITED-KINGDOM {
    transform: translate(-50px, 7px);
}