.em-zoom-buttons {
    transform: translate(94%, 88%) !important;
}

.em-sea {
    fill: lightblue
}

.em-title,
.em-subtitle {
    /*     transform: translate(0px, 15px); */
    filter: brightness(0.5);
}