 #airport-pairs-map .em-zoom-buttons {
     transform: translate(.5%, 86%);
 }

 #airport-pairs-map .em-worldbn {
     stroke-width: 0.15px !important;
     stroke: black !important;
     filter: url(#blur-effect);
 }

 #airport-pairs-map .em-kosovo-bn {
     stroke-width: 0.1px !important;
     stroke: grey !important;
 }

 #airport-pairs-map .em-label,
 #airport-pairs-map .em-label-shadow {
     transform: translate(0px, -15px);
     text-anchor: start;
     opacity: 0.8
 }

 #airport-pairs-map #em-label-ADOLFO-SUAREZ-MADRID-BARAJAS,
 #airport-pairs-map #em-label-shadow-ADOLFO-SUAREZ-MADRID-BARAJAS {
     transform: translate(-115px, -30px);
 }

 #legendBR {
     filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
 }