.bivariate-break-labels,
.em-bivariate-tick,
.em-bivariate-frame,
.em-bivariate-nodata,
.em-bivariate-arrowhead,
.em-bivariate-axis-arrow {
    fill: #696969;
}
.em-bivariate-corner-annotation-line,
.em-bivariate-tick {
    stroke: #696969;
}
.em-bivariate-nodata-label {
    font-size: 14px;
    dominant-baseline: middle;
}
.em-bivariate-tick-label {
    text-anchor: middle;
    font-size: 12px;
}
.em-bivariate-axis-title {
    font-size: 14px;
    fill: #696969;
}
.em-bivariate-axis-arrow {
    stroke-width: 1.5;
    stroke: #696969;
}
.em-bivariate-arrowhead {
    fill: #696969;
}
.em-bivariate-axis-end-label {
    font-size: 11px;
    fill: #696969;
}
.em-bivariate-tick {
    stroke-width: 1;
}

.em-bivariate-frame {
    fill: none;
}
.em-bivariate-nodata {
    stroke-width: 0.5;
    cursor: pointer;
}
.em-bivariate-corner-annotation-line {
    stroke-width: 0.8;
    fill: none;
}
.em-bivariate-corner-annotation {
    font-size: 11px;
    fill: #696969;
}
