/* TERNARY */
.em-ternary-legend-label {
    font-size: 13px;
    stroke: none;
    fill: #3a3a3a;
}
.em-ternary-grid-line,
.em-ternary-grid-line-minor {
    pointer-events: none;
}
.em-ternary-axis-title {
    font-size: 13px;
}
.em-ternary-axis-tick {
    stroke: #3a3a3a;
    stroke-width: 1;
    pointer-events: none;
}
.em-ternary-legend-data-point,
.em-ternary-discrete-polygon {
    cursor: pointer;
}
.em-ternary-discrete-polygon {
    transition: fill 150ms;
}
.em-ternary-annotation-line {
    stroke: #161616;
    stroke-width: 1;
    opacity: 1;
}
.em-ternary-center-annotation-label {
    font-size: 11px;
    fill: #161616;
    font-style: italic;
    text-anchor: start;
}
.em-ternary-center-line-label {
    opacity: 1;
    font-size: 10px;
}
.em-ternary-center-point {
    pointer-events: none;
}