.em-legend-background {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2)) !important;
}
#image-insets-background-rect {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2)) !important;
}
.em-color-legend-title,
.em-size-legend-title,
.em-time-legend-title {
    font-size: 14px !important;
}
.em--pie .em-bn-co {
    stroke: rgb(161, 161, 161);
    stroke-width: 0.1px;
}
