.em-zoom-buttons {
    transform: translate(94%, 88%) !important;
}

.em-legend-background {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) !important;
    opacity: 0.9;
}

.em-title,
.em-subtitle {
    /*     transform: translate(0px, 15px); */
    filter: brightness(0.5);
}

.em-title {
    font-size: 25px !important;
}

.em-subtitle {
    font-size: 20px !important;
}

#maritime-flow-map .em-worldbn {
    stroke: grey !important;
    stroke-width: 0.8px !important;
    opacity: 0.5;
}

.em-bn-d {
    stroke-width: 0.4px !important;
    stroke: rgb(116, 116, 116) !important;
    stroke-dasharray: 2, 1 !important;
}

.em-flow-exporter,
.em-flow-importer {
    opacity: 0.3;
}

.em-zoom-buttons {
    transform: translate(95%, 2%) !important;
}

.em-labels,
.em-label {
    fill: #000 !important;
    opacity: 0.9 !important;
}

.em-annotations text {
    font-size: 14px;
}

.em-flow-node-stems {
    opacity: 0.6 !important;
}

text#em-label-EU,
text#em-label-shadow-EU {
    transform: translate(6px, 5px);
    font-size: 19px;
    font-weight: 600;
    opacity: 0.9;
}


text#em-label-RUSSIA\:-Black-Sea,
text#em-label-shadow-RUSSIA\:-Black-Sea {
    transform: translate(68px, 5px);
}

text#em-label-UKRAINE,
text#em-label-shadow-UKRAINE {
    transform: translate(37px, 5px);
}

text#em-label-NORWAY,
text#em-label-shadow-NORWAY {
    transform: translate(-5px, -12px);
}

text#em-label-MOROCCO,
text#em-label-shadow-MOROCCO {
    transform: translate(15px, 20px);
}

text#em-label-ALGERIA,
text#em-label-shadow-ALGERIA,
text#em-label-INDIA,
text#em-label-shadow-INDIA {
    transform: translate(0px, 15px);
}

text#em-label-EGYPT,
text#em-label-shadow-EGYPT {
    transform: translate(14px, 21px);
}

text#em-label-LIBYA,
text#em-label-shadow-LIBYA {
    transform: translate(13px, 18px);
}

text#em-label-CHINA,
text#em-label-shadow-CHINA {
    transform: translate(25px, -5px);
}

text#em-label-NIGERIA,
text#em-label-shadow-NIGERIA {
    transform: translate(15px, 20px);
}

text#em-label-IRAQ,
text#em-label-shadow-IRAQ {
    transform: translate(20px, 15px);
}

text#em-label-TÜRKIYE,
text#em-label-shadow-TÜRKIYE {
    transform: translate(35px, 15px);
}

text#em-label-UNITED-KINGDOM,
text#em-label-shadow-UNITED-KINGDOM {
    transform: translate(-50px, 0px);
}

text#em-label-BRAZIL,
text#em-label-shadow-BRAZIL {
    transform: translate(-10px, -10px);
}