.em-cntbn,
.em-cntbn-halo,
.em-kosovo-bn,
.em-bn-co {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    pointer-events: none;
}

/* coastal boundaries */
.em-bn-co {
    stroke: white;
}

/* kosovo */
.em-kosovo-bn {
    stroke: #3f3f3f;
    stroke-width: 0.15;
    stroke-opacity: 0.8;
}

/* country boundaries */
.em-cntbn {
    stroke: #3f3f3f;
    stroke-width: 1px;
    stroke-opacity: 0.8;
}

/* country boundary halo (not coastline) */
.em-cntbn-halo:not(.em-bn-co) {
    stroke: white;
    stroke-width: 3px;
    stroke-opacity: 0.4;
}

/* Hide non-nuts borders (country boundaries > that are 'other' and not coastal, not candidates, not eu and not efta) */
/* g#em-cntbn > .em-bn-oth:not(.em-bn-co):not(.em-bn-cc):not(.em-bn-eu):not(.em-bn-efta) {
    stroke-width: 0px;
} */
