.em-cntbn,
.em-cntbn-halo,
.em-kosovo-bn,
.em-bn-co {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    pointer-events: none;
}

/* coastal boundaries */
.em-bn-co {
    stroke: white;
}

/* kosovo */
.em-kosovo-bn {
    stroke: #3f3f3f;
    stroke-width: 0.15;
    opacity: 0.8;
}

/* country boundaries */
.em-cntbn {
    stroke: #353535;
    stroke-width: 0.8px;
    opacity: 1;
}

/* country boundary halo (not coastline) */
.em-cntbn-halo:not(.em-bn-co) {
    stroke: white;
    stroke-width: 1.5px;
    opacity: 1;
}

/* NUTS boundaries stroke color */
.em-bn-1,
.em-bn-2,
.em-bn-3,
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'] {
    stroke: #868686;
}

/*  boundaries stroke-width */
.em-bn-0 {
    stroke: none;
}
.em-bn-1,
.em-bn-2,
.em-bn-3,
/* when using MIXED NUTS levels, we add stroke to the regions, then show/hide those that have/dont have data */
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'],
.em-bn-co {
    /* coastal boundaries must block MIXED NUTS levels polygon stroke */
    stroke-width: 0.4;
}

/* all NUTS boundaries and regions */
#em-nutsbn,
.em-bn-0,
.em-bn-1,
.em-bn-2,
.em-bn-3,
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'],
.em-nutsrg {
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* dont fill border elements */
.em-bn-0,
.em-bn-1,
.em-bn-2,
.em-bn-3 {
    fill: none;
    pointer-events: none;
}

/* Hide non-nuts borders (country boundaries > that are 'other' and not coastal, not candidates, not eu and not efta) */
/* g#em-cntbn > .em-bn-oth:not(.em-bn-co):not(.em-bn-cc):not(.em-bn-eu):not(.em-bn-efta) {
    opacity: 0;
} */
