.em-grid-cell {
    fill: #e1e1e1;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer !important;
}

.em--coxcomb .em-grid-cell,
.em--spark .em-grid-cell {
    /* fill: navajowhite; */
    fill: #fce8cc;
}

.em--ch .em-grid-cell,
.em--scomp .em-grid-cell {
    fill: #eeeeee;
}
.em-grid-text {
    opacity: 0.75;
}
.em-grid-hexagon {
    /* opacity: 0.7; */
}

.em--coxcomb .em-grid-shape,
.em--pie .em-grid-shape {
    fill: none;
    stroke: #ccc !important;
    stroke-width: 0px;
}

/* .em--coxcomb .em-grid-text,
.em--pie .em-grid-text {
    transform: translate(0, -22px) !important;
} */
