@import 'map.css';
@import 'tooltip.css';
@import 'legend/legend.css';
@import 'labels.css';
@import 'annotations.css';
@import 'NUTS.css';
@import 'world.css';
@import 'ui.css';
@import 'minimap.css';
@import 'placenames.css';
@import 'insets.css';
@import 'cartogram.css';
