.em-inset .em-zoom-buttons {
    display: none;
}
.em-inset-title {
    font-size: 11px;
}
.em-inset-subtitle {
    font-size: 12px;
}
.em-insets-image text {
    fill: #696969 !important;
}
.em-insets-image line {
    stroke: #696969 !important;
}
.em-insets-image .em-inset-detail-frame {
    stroke: #696969 !important;
}
.em-insets .em-frame {
    /* this will give a frame to inset maps */
    stroke: grey;
    stroke-width: 0.3px !important;
}

/* 'default' overseas inset layout decoration (see buildOverseasInsetsDecoration in insets.js) */
.em-insets-background {
    fill: white;
}
.em-inset-separator-line {
    stroke: black;
    stroke-width: 0.3px;
}
.em-inset-separator-line-thin {
    stroke: black;
    stroke-width: 0.1px;
}
.em-inset-blur-stop {
    stop-color: rgb(255, 255, 255);
}
