#em-labels {
    text-anchor: middle;
    stroke-linejoin: round;
    font-family: Arial, Helvetica, sans-serif;
    dominant-baseline: central;
    pointer-events: none;
    paint-order: stroke;
}

.em-labels {
    font-size: 12px;
    fill: #000000;
}

.em-label {
    font-size: 12px;
    opacity: 0.8;
}

.em-label-shadow,
.em-flow-label-shadow {
    font-size: 12px;
    stroke-width: 2px;
    stroke: white;
    opacity: 0.8;
}

.em-label-background {
    fill: #ffffff;
    opacity: 0.9;
}

.em-stat-label {
    stroke: #111;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.em-stat-label-shadow {
    stroke: white;
    stroke-width: 3px;
    stroke-opacity: 0.9;
    /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) */
}

.em-stat-label,
.em-stat-label-shadow {
    font-size: 13px;
    opacity: 0.95;
}

.em-label-cc {
    font-size: 12px;
}

.em-label-shadow-cc {
    font-size: 12px;
    stroke-width: 3px;
}

.em-label-countries {
    fill: #3b3b3b;
    font-size: 10px;
    opacity: 0.7;
}

.em-label-shadow-countries {
    font-size: 10px;
    stroke-width: 3px;
}

.em-label-seas {
    font-size: 9px;
    fill: #6a9cff !important;
    letter-spacing: 0.25em;
    opacity: 0.5 !important;
}

.em-label-shadow-seas {
    font-size: 9px;
    letter-spacing: 0.25em;
    stroke-width: 3px;
    opacity: 0.5 !important;
}

.em-flow-labels {
    text-anchor: middle;
    stroke-linejoin: round;
    font-family: Arial, Helvetica, sans-serif;
    dominant-baseline: central;
}

.em-flow-label {
    font-size: 13px;
    fill: #333333;
    font-weight: bold;
    opacity: 0.9;
}

.em-flow-label-shadow {
    font-size: 13px;
    stroke-width: 3px;
}
