#em-labels {
    text-anchor: middle;
    stroke-linejoin: round;
    stroke-linecap: round;
    font-family: Arial, Helvetica, sans-serif;
    dominant-baseline: central;
    pointer-events: none;
    paint-order: stroke fill;
}

.em-labels {
    font-size: 12px;
    fill: #000000;
}

.em-label {
    font-size: 12px;
    opacity: 0.9;
}

.em-label-shadow,
.em-flow-label-shadow {
    font-size: 12px;
    stroke-width: 2px;
    stroke: white;
    opacity: 0.9;
    fill: none;
}

.em-label-background {
    fill: #ffffff;
    opacity: 0.9;
}

.em-stat-label {
    fill: #111111;
    stroke: #111111;
    stroke-width: 0.5px;
}

.em-stat-label-shadow {
    fill: none;
    stroke: white;
    stroke-width: 2.5px;
    opacity: 0.9;
}

.em-stat-label,
.em-stat-label-shadow {
    font-size: 13px;
}

.em-label-cc {
    font-size: 12px;
}

.em-label-shadow-cc {
    font-size: 12px;
    stroke-width: 3px;
}

.em-label-countries {
    fill: #111111;
    font-size: 10px;
}

.em-label-shadow-countries {
    font-size: 10px;
    stroke-width: 3px;
}

.em-label-seas {
    font-size: 9px;
    fill: #2a58b3;
    letter-spacing: 0.25em;
    opacity: 0.7;
}

.em-label-shadow-seas {
    font-size: 9px;
    letter-spacing: 0.25em;
    stroke-width: 3px;
    opacity: 0.5;
}

.em-flow-labels {
    text-anchor: middle;
    stroke-linejoin: round;
    font-family: Arial, Helvetica, sans-serif;
    dominant-baseline: central;
}

.em-flow-label {
    font-size: 13px;
    fill: #333333;
    font-weight: bold;
    opacity: 0.9;
}

.em-flow-label-shadow {
    font-size: 13px;
    stroke-width: 3px;
}
