.em-legend-background {
    fill: white;
    opacity: 0.7;
    rx: 0;
    ry: 0;
    pointer-events: none;
}

/* titles */
.em-legend-title {
    font-weight: bold;
    font-size: 15px;
    fill: #696969;
}

.em-size-legend-title {
    font-size: 15px;
    fill: #666;
}

.em-color-legend-title {
    font-size: 15px;
    fill: #696969;
}

.em-width-legend-title {
    font-size: 15px;
    fill: #696969;
}

.em-bivariate-axis-title {
    font-size: 15px;
}

.em-legend-subtitle {
    font-size: 15px;
    fill: #696969;
    opacity: 0.8;
}

/* labels */
.em-legend-label {
    font-size: 14px;
    stroke: none;
    fill: #696969;
    dominant-baseline: unset;
}

.em-bivariate-tick-label {
    text-anchor: middle;
    font-size: 12px;
}

.em-legend-label-max,
.em-legend-label-min {
    opacity: 0.8;
}

.em-legend-label-max:hover,
.em-legend-label-min:hover,
.em-legend-label-no-data:hover {
    opacity: 1;
    font-weight: bold;
}

.em-bivariate-nodata-label {
    font-size: 14px;
    dominant-baseline: middle;
}

.em-flow-width-horizontal-label {
    text-anchor: middle;
    font-size: 13px;
    /* fill: #3a3a3a */
}

/* ticks */
.em-legend-tick {
    stroke: #696969;
    stroke-width: 1;
}

.em-bivariate-tick {
    stroke: #696969;
    stroke-width: 1;
}

/* misc */
.em-legend-separator {
    stroke: white;
    stroke-width: 1;
}

.em-legend-gradient {
    cursor: pointer;
}

.em-bivariate-frame {
    fill: none;
    stroke: #696969;
}

.em-bivariate-nodata {
    stroke: #696969;
    stroke-width: 0.5;
    cursor: pointer;
}

.em-bivariate-square,
.em-legend-rect {
    cursor: pointer;
    /* stroke: white; */
}

.em-bivariate-square:hover,
.em-legend-rect:hover {
    stroke-width: 2;
    stroke: red;
}

.em-pie-size-legend-line {
    stroke-dasharray: 2;
    stroke: grey;
}

.em-legend-diverging-line {
    stroke: #696969;
}

.em-legend-histogram-bar {
    cursor: pointer;
}

.em-month-label {
    font-size: 13px;
}

.em-legend-month-segment {
    stroke: #444;
    stroke-width: 0.5;
    opacity: 0.4;
    fill: #ccc;
    cursor: pointer;
}

.em-legend-background {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    opacity: 0.9;
}

/* TERNARY */
.em-ternary-legend-label {
    font-size: 13px;
    stroke: none;
    fill: #3a3a3a;
}


.em-ternary-grid-line,
.em-ternary-grid-line-minor {
    pointer-events: none;
}
.em-ternary-axis-title {
    font-size: 13px;
}
.em-ternary-axis-tick {
    stroke: #3a3a3a;
    stroke-width: 1;
    pointer-events: none;
}

.em-ternary-legend-data-point,
.em-ternary-discrete-polygon {
    cursor: pointer;
}
.em-ternary-discrete-polygon {
    transition: fill 150ms;
}
.em-ternary-center-line {
    stroke-dasharray: 4 2;
}
.em-ternary-center-line-label {
    opacity: 1;
    font-size: 10px;
}
