.em-legend-background {
    fill: white;
    opacity: 0.7;
    rx: 0;
    ry: 0;
    pointer-events: none;
}
.em-legend-label {
    font-size: 15px;
    stroke: none;
    fill: #696969;
    dominant-baseline: unset;
}
.em-legend-title {
    font-size: 16px;
    fill: #696969;
}
.em-size-legend-title {
    font-size: 16px;
    fill: #696969;
}
.em-color-legend-title {
    font-size: 16px;
    fill: #696969;
}
.em-legend-subtitle {
    font-size: 15px;
    fill: #696969;
    opacity: 0.8;
}
.em-legend-separator {
    stroke: white;
    stroke-width: 1;
}
.em-legend-gradient {
    cursor: pointer;
}
.em-legend-tick {
    stroke: #696969;
    stroke-width: 1;
}
.em-bivariate-frame {
    fill: none;
    stroke: #696969;
}
.em-bivariate-nodata {
    stroke: #696969;
    stroke-width: 0.5;
    cursor: pointer;
}
.em-bivariate-axis-title {
    font-size: 15px;
}
.em-bivariate-nodata-label {
    font-size: 14px;
    dominant-baseline: middle;
}
.em-bivariate-tick {
    stroke: #696969;
    stroke-width: 1;
}
.em-bivariate-tick-label {
    text-anchor: middle;
    font-size: 12px;
}
.em-bivariate-square,
.em-legend-rect {
    cursor: pointer;
    stroke: white;
}

.em-bivariate-square:hover,
.em-legend-rect:hover {
    stroke-width: 2;
    stroke: red;
}

.em-pie-size-legend-line {
    stroke-dasharray: 2;
    stroke: grey;
}

.em-legend-diverging-line {
    stroke: #696969;
}

.em-legend-histogram-bar {
    cursor: pointer;
}
.em-month-label {
    font-size: 13px;
}
.em-legend-month-segment {
    stroke: #444;
    stroke-width: 0.3;
    opacity: 0.4;
    fill: #ccc;
    cursor: pointer;
}
