@import './map-types/proportional-symbol.css';
@import './map-types/coxcomb.css';
@import './map-types/alpha.css';
@import './map-types/flow.css';
@import './map-types/pie.css';
@import './map-types/sparkline.css';

/* General text settings */
text {
    pointer-events: none;
}

a text {
    pointer-events: all;
}

/* Main map */
.em-map text,
.em-legend text,
.em-title,
.em-subtitle,
.em-footnote {
    font-family: Arial, Helvetica, sans-serif;
}

.em-map.em-draggable g {
    cursor: grab;
}

.em-map.em-dragging g {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* Coastal margin */
#em-coast-margin {
    filter: url(#em-coastal-blur);
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    stroke-width: 5;
    stroke: rgb(161, 198, 237);
}

/* Title and subtitle styling */
.em-title,
.em-inset-title {
    fill: #4c4b4b;
    stroke: none;
}

.em-title {
    font-size: 21px;
    font-weight: bold;
}

.em-inset-title {
    font-size: 11px;
}

.em-subtitle,
.em-inset-subtitle {
    fill: #4c4b4b;
    fill-opacity: 0.9;
    stroke: none;
    stroke-linejoin: round;
    paint-order: stroke;
}

.em-subtitle {
    font-size: 18px;
    font-weight: 100;
}

.em-inset-subtitle {
    font-size: 12px;
}

.em-source-pretext {
    fill: #848280;
    font-size: 11px;
    transform: translate(-5px, -5px);
}

.em-source-dataset-link {
    font-size: 11px;
    fill: #0e47cb;
    cursor: pointer !important;
    text-decoration: underline;
    transform: translate(-5px, -5px);
}

.em-source-dataset-link:hover {
    fill: #082b7a;
    cursor: pointer !important;
    text-decoration: underline;
}

.em-frame {
    stroke-width: 0;
    stroke: grey;
}

.em-insets .em-frame {
    /* this will give a frame to inset maps */
    stroke: grey;
    stroke-width: 0.3px !important;
}

.em-sea {
    fill: white;
    /* pointer-events: none; */
}

.em-scalebar-line {
    stroke: #696969;
    stroke-width: 0.8px;
}

.em-scalebar-label {
    font-size: 9px;
    text-anchor: middle;
}

/* Bottom text and symbol styling */
.em-footnote {
    fill: #848280;
    pointer-events: all;
    cursor: pointer !important;
    font-size: 11px;
    transform: translate(5px, -5px);
}

.em-footnote a {
    fill: #0e47cb;
    text-decoration: underline;
}

.em-footnote a:hover {
    fill: #0a328e;
}

.em-centroid {
    cursor: pointer !important;
}

/* Graticule styling */
.em-graticule {
    stroke: lightgray;
    stroke-width: 1;
}

.em-flow-link {
    cursor: pointer !important;
}

.em-flow-link-outline {
    cursor: pointer !important;
}

.em-flow-labels {
    font-size: 15px;
    stroke-width: 1px;
    fill: #696969;
    pointer-events: none;
}

.em-flow-labels-halo {
    font-size: 15px;
    stroke-width: 2px;
    fill: white;
    pointer-events: none;
}

.em-grid-rect,
.em-grid-hexagon {
    stroke: white;
}

.em-flow-donuts {
    cursor: pointer !important;
}