/* STYLING OF NUTS REGIONS AND BOUNDARIES */
/* Default region fill */
.em-nutsrg {
    fill: #e1e1e1;
}

.em-nutsrg,
#em-user-regions {
    cursor: pointer !important;
}

/*  boundaries stroke-width */
.em-bn-0 {
    stroke: none;
}
.em-bn-1,
.em-bn-2,
.em-bn-3,
/* when using MIXED NUTS levels, we add stroke to the regions, then show/hide those that have/dont have data */
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'],
.em-bn-co {
    stroke-width: 0.3;
    stroke-opacity: 0.5;
}

/* all NUTS boundaries and regions */
#em-nutsbn,
.em-bn-0,
.em-bn-1,
.em-bn-2,
.em-bn-3,
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'],
.em-nutsrg {
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* NUTS boundaries stroke color */
.em-bn-1,
.em-bn-2,
.em-bn-3,
.em-nutsrg [lvl='3'],
.em-nutsrg [lvl='2'],
.em-nutsrg [lvl='1'] {
    stroke: #474747;
}

/* dont fill border elements */
.em-bn-0,
.em-bn-1,
.em-bn-2,
.em-bn-3 {
    fill: none;
    pointer-events: none;
}
