.em-button {
    width: 35px;
    height: 35px;
    user-select: none;
    cursor: pointer;
}

.em-button rect {
    fill: white;
    stroke: #ccc;
}

.em-button rect:hover {
    fill: lightgrey;
}

.em-button text {
    text-anchor: middle;
    font-size: 20px;
    fill: #333333;
}

/* zoom  */
.em-zoom-buttons {
    transform: translate(94%, 10%);
}

/* insets */
.em-insets-button {
    transform: translate(94%, 2%);
}

.em-logo-group {
    pointer-events: none;
}