/* dim everything except the highlighted color group */
.em-flow-container line.dimmed,
.em-flow-lines line.dimmed,
.em-flow-container path.em-flow-link.dimmed,
.em-flow-lines path.em-flow-link.dimmed {
  opacity: 0.1;
  stroke-opacity: 0.1;
}

/* emphasize the matching ones */
.em-flow-container line.highlighted,
.em-flow-lines line.highlighted {
  opacity: 1;
   stroke-opacity: 1;
}

.em-flow-container path.em-flow-link.highlighted,
.em-flow-lines path.em-flow-link.highlighted {
  /* tapered polygons use FILL */
  filter: brightness(1.05);
  opacity: 1;
  stroke-opacity: 1;
}